<!-- <p>dashboard works!</p> -->

<div class="container-fluid">
<div class="row"> 
  <div class="col-md-12">
  <table class="table"> 
          <tbody>
            <tr *ngIf="zgroup">
              <!-- <td style="width: fit-content;"> Model Number:</td> -->
              <td>Model Number:</td>
              <td>Z</td>
              <td>{{zgroup}}</td>
              <td>{{osCount}}</td>
              <td>{{ramCount}}</td>
              <td>{{osOnRaidValue}}</td>
              <td>{{numberofDrivesValue}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
   

  <div class="card" style="margin:20px">
    <div class="card-body">
 
      <!-- {{zgroup}} -->
      <form [formGroup]="osdetails">
        <!-- System RAM   -->
        <div class="form-check-inline ml-20">Model</div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="Z" id="Z" value="ZD"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">ZD
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="Z" id="Z" value="Z4"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio2">Z4

          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="Z" id="Z" value="Z3"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">Z3
          </label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="Z" id="Z" value="Z2"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">Z2

          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="Z" id="Z" value="Z1"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">Z1
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="Z" id="Z" value="ZT"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">ZT
          </label>
        </div>
      </form>
    </div>
  </div>

  <div class="card" style="margin:20px">
    <div class="card-body">
      <form [formGroup]="osdetails">
        <!-- System RAM   -->
        <div class="form-check-inline ml-20">Operating System</div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="os" id="os" value="osUbuntu"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">Ubuntu Linux 18.04 LTS</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="os" id="os" value="osWin"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio2">Win 10 Enterprise
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="os" id="os" value="osWindows"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">Windows Server 2016</label>
        </div>
      </form>
    </div>
  </div>

  <div class="card" style="margin:20px">
    <div class="card-body">
      <form [formGroup]="osdetails">
        <!-- System RAM   -->
        <div class="form-check-inline ml-20">Operating System</div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="os" id="os" value="16GBECCDDR42400"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">16 GB ECC DDR4 2400
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="os" id="os" value="32GBECCDDR42400
            " (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio2">32 GB ECC DDR4 2400

          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="os" id="os" value="64GBECCDDR42400"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">64 GB ECC DDR4 2400</label>
        </div>
     </form>
    </div>
  </div>



  <div class="card" style="margin:20px">
    <div class="card-body">

      <form [formGroup]="osdetails" (ngSubmit)="valueChange()">

        <div class="form-check-inline ml-20">OS on RAID</div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="OSonRAID" id="OSonRAID" value="S"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">No
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="OSonRAID" id="OSonRAID" value="R"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio2">Yes

          </label>
        </div>
      </form>
    </div>
  </div>

  <div class="card" style="margin:20px">
    <div class="card-body">

      <form [formGroup]="osdetails">

        <div class="form-check-inline ml-20">Number of Drives</div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="numberofDrives" id="numberofDrives" value="0"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">0
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="numberofDrives" id="numberofDrives" value="1"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio2">1
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="numberofDrives" id="numberofDrives" value="2"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">2
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="numberofDrives" id="numberofDrives" value="3"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio2">3
          </label>
        </div>    <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="numberofDrives" id="numberofDrives" value="4"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio1">4
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="numberofDrives" id="numberofDrives" value="5"
            (change)="changeOs($event)">
          <label class="form-check-label" for="inlineRadio2">5
          </label>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- </div>
<div>   -->