h2 {
    display: flex;
    color: white;
    font-family: 'Backslash';
    justify-content: center;
}

.btn-outline-secondary {
    color: #a2a2a2;
    border: #a2a2a2;
    font-family: 'Backslash';
}

input::placeholder {
    color: royalblue;
    opacity: 1;
    font-family: 'Backslash';
}

input:placeholder-shown {
    border: 1px solid royalblue
}

.custom-datatable ngx-datatable.material .datatable-header .datatable-header-cell {
    font-size: bold;
    color: black;
    background-color: #efda35;
    width: 100%;
}

.custom-datatable ngx-datatable.material .datatable-header {
    width: 100% !important;
}

.custom-datatable ngx-datatable.material .datatable-body {
    width: 100% !important;
}

.widgets {
    display: flex;
    justify-content: space-around;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-container {
    max-width: 100%;
    overflow-x: hidden;
}

.sidebar {
    background-color: white
}

.align {
    margin: 10px
}

mat-sidenav {
    background-color: rgb(204, 32, 32);
}

mat-sidenav-content {
    background-color: #939498;
    overflow-x: hidden !important;
}

mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: aliceblue;
}

.upload-btn {
    padding: 10px;
    background-color: #0fb349;
    width: 150px;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    font-size: 14px;
    height: 45px;
    margin: 0 1rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 3;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin-right: 3px;
}

.inputfile+label {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #a2a2a2;
    cursor: pointer;
    width: 150px;
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    /* margin: 0 1rem; */
    z-index: 1;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: a2a2a2
}

.ngx-datatable .datatable-footer .datatable-footer-inner {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: yellow;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: white !important;
    background-color: #a2a2a2
}

#button {
    position: relative;
    left: -1px;
    background-color: #446655;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

input[type="file"] {
    display: none;
}

.datatable-row-even {
    background-color: rgb(224, 198, 198);
}

.datatable-row-odd {
    background-color: rgb(226, 226, 240);
}

.profileIcon {
    /* height:20px !important;
  width:20px  ; */
    font-size: 50px !important;
}

.favorite {
    color: red !important;
    margin-top: 0px;
}